In [5]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/Users/kkelley/Desktop/1_30_Data/unclean_data.csv',encoding='latin1')

In [7]:
df.describe()

,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,14.000000,11.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,2171.909091,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,6580.135720,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,10.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,12.500000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,23.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,479.000000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,22000.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

In [8]:
df.rename(columns = {'duration':'TIME'})

,movie_title,num_critic_for_reviews,TIME,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563.0,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000.0,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,NaN,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15.0,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [9]:
df.isnull()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False
11,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().any()

movie_title                  False
num_critic_for_reviews       False
duration                      True
DIRECTOR_facebook_likes       True
actor_3_facebook_likes       False
ACTOR_1_facebook_likes       False
gross                        False
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews         False
budget                       False
title_year                   False
ACTOR_2_facebook_likes        True
imdb_score                   False
title_year.1                  True
dtype: bool

In [11]:
df.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      3
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

In [12]:
df_with_0 = df.fillna(2)

In [13]:
df_with_0.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,2.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,2.0,563.0,1000,40000,309404152,471220.0,48350.0,2.0,1238,300000000,2007,5000.0,7.1,2.0
2,Spectre?ÿ,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,2.0,22000.0,23000,27000,448130642,1144337.0,106759.0,2.0,2701,250000000,2012,23000.0,8.5,2.0
4,John Carter?ÿ,462,132.0,2.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,2.0

In [14]:
df['duration'].mean()

150.72727272727272

In [15]:
df_with_mean = df.duration.fillna(df['duration'].mean())

In [16]:
print(df_with_mean)

0     178.000000
1     150.727273
2     148.000000
3     150.727273
4     132.000000
5     156.000000
6     150.727273
7     141.000000
8     141.000000
9     153.000000
10    183.000000
11    169.000000
12    106.000000
13    151.000000
Name: duration, dtype: float64

In [17]:
df = df.drop('movie_title',axis=1)
df_mean = df.fillna(df.mean())

In [18]:
df.shape

(14, 15)

In [19]:
df_drop = df.dropna()

In [20]:
df_drop.shape

(4, 15)

In [21]:
df.dtypes

num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes      float64
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [22]:
df.gross.dtypes

dtype('int64')

In [23]:
df.gross.astype(float).dtypes
df.dtypes

num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes      float64
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [24]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [25]:
x_train, x_test = train_test_split(df, test_size = 0.2, random_state = 42)
x_train2, x_val = train_test_split(x_train, test_size = 0.2, random_state = 42)

In [26]:
print(len(x_train2))
print(len(x_test))
print(len(x_val))

8
3
3

In [27]:
scaler = StandardScaler().fit(x_train2)